*{
    margin: 0;
    padding: 0;
    border: none;
}
html {
    font-size: 20px;
}
/*标题图*/
.login_title{
    margin-left: 5%;
    margin-top: 12%;
}
.login_title_img{
    width: 55%;
}

/*内容区*/
.login_content{
    width: 90%;
    margin: 0 auto;
    height: 15rem;
}
.login_name,
.login_word{
    margin: 0 auto;
    width: 95%;
    height: 16%;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    margin-top: 0.8rem;
    padding-left: 0.8rem;
    font-size: 16px;
    font-family: "Microsoft YaHei UI Light";
}
.login_name::placeholder,
.login_word::placeholder{
    text-align: left;
}
.login_name{
    margin-top: 1.6rem;
}

/*错误*/
.login_err{
    height: 10%;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #ff4e4e;
    text-align: center;
    margin-top: 2%;
}

/*按钮*/
.login_bt{
    width: 100%;
    height: 16%;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #ffffff;
    border-radius: 0.25rem;
    background: -webkit-linear-gradient(left, #00b4ff, #1da1f2);
}

/*页尾*/
.login_foot_img{
    width: 100%;
}
.login_foot{
    font-size: 0;
    width: 4rem;
    height: 1.5rem;
    margin: 0 auto;
    margin-top: 38%;
}
