<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="云资源中心">
    <meta name="description" content="云资源中心">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=.8" />
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/login.css?v=1.0" />
  </head>
  <body>
    <div class="header">
      <div class="header-left"><!--此处用的是背景图片--></div>
      <div class="header-right">
        <div class="welcome-word">欢迎来到恒峰云资源中心</div>
      </div>
    </div>
    <div class="form-content">
      <div class="form-wrapper">
        <div class="loginform">
          <div class="title-img">
          	<div class="form-img"><!--此处用的是背景图片--></div>
            <div class="title-word">Welcome to Hengfeng Resource Center</div>
          </div>
          <div class="tips j-common-tips"></div>
          <div class="form">
            <div class="form-item">
              <input class="account-number j-ipt-username" type="text" id="username" name="username" maxLength="16" required="required" placeholder="请输入您的账号" autocomplete="off">
              <p class="ipt-tips j-username-tips"></p>
            </div>
            <div class="form-item">
              <input class="password j-ipt-pwd" type="password" id="password" name="password" required="required" maxLength="8" placeholder="请输入您的密码" autocomplete="off">
              <p class="ipt-tips j-pwd-tips"></p>
            </div>
            <div class="button-panel">
              <div class="login-prompt">
                <span>Click Enter</span>
                <span class="mouse-logo"><!--此处用的是背景图片--></span>
              </div>
              <input type="submit" class="login-button j-btn-login" value="登录" />
            </div>
          </div>
        </div>
      </div>
      <div class="typeface"><!--此处用的是背景图片--></div>
    </div>
    <div class="footer">
    <div class="footer-info">
      <div class="copyleft">© 2016 恒峰信息技术有限公司 | 粤ICP备11061956号-1 粤公网安备 44010602000453号 </div>
      <div class="copyright">建议使用1280*800以上分辨率，使用Chrome、Firefox、Safari、IE10版本浏览器</div>
    </div>
    </div>
  <script src="/static/libs/jquery-1.10.1/jquery-1.10.1.min.js"></script>
  <script src="/static/js/views/login.js?v=2.0"></script>
  </body>
</html>
